<style>
.post {
  margin-bottom: 20px;
}
.big_image {
  width: 128px;
  height: 128px;
}

.small_image {
  width: 64px;
  height: 64px;
}

body {
  zoom: 150%;
}
</style>

<ul class="media-list">
  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="https://mug0.assets-yammer.com/mugshot/images/128x128/5kww4CCfTB3Q3vNj6wLwRh5R78jq5fn3">
    </a>
    <div class="media-body">
      <h2 class="media-heading">Yann Armand</h2>
  
      <!-- Nested media object -->
      <div class="media post">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar est id quam tristique pulvinar. Aliquam eros ante, ultricies eget faucibus nec, elementum ut leo. Nullam eget turpis ipsum. Aliquam mi orci, suscipit vel consequat et, egestas nec sem. Nulla ac mi magna. Proin mollis magna vitae felis ultricies pretium. Donec aliquam volutpat enim, a commodo lacus bibendum id.<br>
      </div>
      <ul class="media-list">
        <li class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="https://mug0.assets-yammer.com/mugshot/images/64x64/5kww4CCfTB3Q3vNj6wLwRh5R78jq5fn3">
          </a>
          <div class="media-body">
            <h2 class="media-heading">Yann Armand</h2>
        
            <!-- Nested media object -->
            <div class="media post">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar est id quam tristique pulvinar. Aliquam eros ante, ultricies eget faucibus nec, elementum ut leo. Nullam eget turpis ipsum. Aliquam mi orci, suscipit vel consequat et, egestas nec sem. Nulla ac mi magna. Proin mollis magna vitae felis ultricies pretium. Donec aliquam volutpat enim, a commodo lacus bibendum id.<br>
            </div>
          </div>
        </li>
        <li class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="https://mug0.assets-yammer.com/mugshot/images/64x64/5kww4CCfTB3Q3vNj6wLwRh5R78jq5fn3">
          </a>
          <div class="media-body">
            <h2 class="media-heading">Yann Armand</h2>
        
            <!-- Nested media object -->
            <div class="media post">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar est id quam tristique pulvinar. Aliquam eros ante, ultricies eget faucibus nec, elementum ut leo. Nullam eget turpis ipsum. Aliquam mi orci, suscipit vel consequat et, egestas nec sem. Nulla ac mi magna. Proin mollis magna vitae felis ultricies pretium. Donec aliquam volutpat enim, a commodo lacus bibendum id.<br>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </li>
</ul>