<% text = screen.display %>
<% jenkins_info = screen.module_data %>
<% details = jenkins_info['details'] %>
<style>
body {
  zoom: 150%;
}
</style>

<div class='big <%= jenkins_info['result'] %>'>
  <%= jenkins_info['id'] %>
  <%= jenkins_info['result'] %>
</div>

<div>
  <%= details['failCount'] %>
</div>

