<!--
<form class="form-signin" action="https://www.yammer.com/dialog/oauth?client_id=<%= settings.client_id %>&redirect_uri=<%= CGI::escape url('/authenticated') %>">
  <h2 class="form-signin-heading">Please authorise this app</h2>
  <button class="btn btn-large btn-primary" type="submit">Sign in with Yammer</button>
</form>
-->
<a href="/auth/yammer" class="btn btn-large btn-primary">Sign in with Yammer</a>
